.carousel-control-next, 
.carousel-control-prev{
  width: auto;
}

.carousel .col {
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}


.carousel .col:hover{
  transform: scale(1.1);
}

.carousel-item {
  padding-right: 5px;
  padding-left: 5x;
}
.carousel-item .col {
  padding-left: 3px;
  padding-right: 3px;
  box-shadow: none;
  transition: box-shadow 0.5s ease-in-out;
}

.carousel-item .col:hover {
  box-shadow: 5px 5px 10px 14px #FFFFFF;
}

